[submodule "iiwa_dependencies/control_stack"]
	path = iiwa_dependencies/control_stack
	url = https://github.com/nash169/control_stack.git
[submodule "iiwa_dependencies/kuka_fri"]
	path = iiwa_dependencies/kuka_fri
	url = https://github.com/costashatz/kuka_fri.git
[submodule "iiwa_dependencies/SpaceVecAlg"]
	path = iiwa_dependencies/SpaceVecAlg
	url = https://github.com/costashatz/SpaceVecAlg.git
[submodule "iiwa_dependencies/RBDyn"]
	path = iiwa_dependencies/RBDyn
	url = https://github.com/costashatz/RBDyn.git
[submodule "iiwa_dependencies/mc_rbdyn_urdf"]
	path = iiwa_dependencies/mc_rbdyn_urdf
	url = https://github.com/costashatz/mc_rbdyn_urdf.git
