<?xml version="1.0" ?>
<robot name="conveyor_belt">
  <link name="world"/>
  <link name="conveyor_belt">
    <inertial>
      <origin xyz="0.5 0.5 0.6" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.5 0.5 0.6"/>
      <geometry>
        <box size="3 0.5 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.5 0.5 0.6"/>
      <geometry>
        <box size="3 0.5 0.01" />
      </geometry>
    </collision>
  </link>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="conveyor_belt"/>
  </joint>
  <gazebo reference="conveyor_belt">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="conveyor_belt">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
</robot>