<?xml version="1.0"?>
<launch>
	<arg name="hardware_interface" default="EffortJointInterface"/>
	<arg name="robot_name" default="iiwa"/>
	<arg name="type" default="14"/>
	<arg name="gui" default="true"/>
	<param name="use_gui" value="$(arg gui)"/>

	<rosparam command="load" file="$(find iiwa_driver)/robots/iCubGazeboV2_5_plus/model.urdf" param="/robot_description" />

	<!-- Start state publishers -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<!-- Start RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz"/>
     <!-- args="-d $(find iiwa_description)/config/config.rviz" /> -->
</launch>