<?xml version="1.0"?>
<launch>
  <arg name="hardware_interface" default="EffortJointInterface"/>
  <arg name="robot_name" default="iiwa"/>
  <arg name="type" default="14" />

  <!-- Upload iiwa URDF -->
  <include file="$(find iiwa_description)/launch/iiwa$(arg type)_upload.launch">
    <arg name="hardware_interface" value="$(arg hardware_interface)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Load iiwa tools -->
  <include file="$(find iiwa_tools)/launch/iiwa_tools.launch"/>

  <!-- call iiwa FRI driver -->
  <node pkg="iiwa_driver" type="iiwa_driver" name="iiwa_driver" respawn="false" output="screen">
    <remap from="/joint_states" to="/iiwa/joint_states"/>
    <remap from="/controller_manager" to="/iiwa/controller_manager"/>
    <!-- Load configurations from YAML file to parameter server -->
    <rosparam file="$(find iiwa_driver)/config/iiwa.yaml" command="load"/>
  </node>

  <!-- Spawn torque controller -->
  <include file="$(find iiwa_control)/launch/iiwa_torque_control.launch"/>

</launch>