<?xml version="1.0"?>
<launch>

  <!-- Load IK params from YAML file to parameter server -->
  <rosparam file="$(find iiwa_service)/config/iiwa_service.yaml" command="load"/>

  <!-- launch the IK server -->
  <node name="iiwa_service" pkg="iiwa_service" type="iiwa_service" respawn="false"
    output="screen" ns="/iiwa"/>

</launch>