<?xml version="1.0"?>
<launch>

  <!-- Load IK params from YAML file to parameter server -->
  <rosparam file="$(find iiwa_tools)/config/iiwa_tools.yaml" command="load"/>

  <!-- launch the IK server -->
  <node name="iiwa_service" pkg="iiwa_tools" type="iiwa_tools" respawn="false"
    output="screen" ns="/iiwa"/>

</launch>