<?xml version="1.0"?>
<!--|
    Copyright (C) 2019 Learning Algorithms and Systems Laboratory, EPFL, Switzerland
    Authors:  Patrick Sgrò (maintainer)
    email:    patrick.sgro@hotmail.com
    website:  lasa.epfl.ch

    This file is part of iiwa_ros.

    iiwa_ros is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    iiwa_ros is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

|-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- The following macro is used to add the force/torque sensor to the iiwa robot -->
  <xacro:macro name="force_torque_sensor" params="robot_name link_name collision">
    <sensor name="${robot_name}_contactsensor_sensor" type="contact"> <!--force_torque-->
        <always_on>true</always_on>
        <contact>
          <collision>${collision}</collision>
        </contact>
        <plugin name="${link_name}_plugin" filename="libgazebo_ros_bumper.so">
          <bumperTopicName>${robot_name}_contactsensor_state</bumperTopicName>
          <frameName>${link_name}</frameName>
          <frameName>world</frameName>
        </plugin>
      </sensor>
  </xacro:macro>

</robot>
